pogo_username=<google or ptc login>
pogo_base64_password=<leave empty>
pogo_password=<google or ptc password>
pogo_latitude=<starting latitude like 1.50>
pogo_longitude=<starting longitude like 1.50>
pogo_ignored_pokemon=<your custom value>
